* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 400px;
}

:root {
  --ee--ee--ee: white;
  --green--color: rgb(135, 165, 135);
}

a {
  text-decoration: none;
  color: var(--ee--ee--ee);
}
