.Header {
  position: absolute;
  z-index: 100;
  top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgba(255, 255, 255, 0);
}

.Header_in {
  display: flex;
  width: 100%;
  padding: 20px 40px;
  justify-content: space-between;
  align-items: center;
}

.Header_fst {
  display: flex;
  align-items: center;
  height: 100%;
}

.Header_logo_link {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.Header_logo_icon {
  font-weight: 900;
  color: var(--deep--grey--color);
  font-size: 22px;
}

.Header_menu {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  letter-spacing: 1px;
}

.Header_menu a {
  color: var(--deep--grey--color);
  padding: 5px 15px;
  border-radius: 5px;
  margin: 0 20px;
}

.Header_menu a:hover {
  color: var(--green--color);
}

.Header_login_mypage {
  display: flex;
  align-items: center;
}

.Header_login {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: rgb(0, 0, 0);
}

.Header_login_in {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}

.Header_login_in_page {
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
  border-radius: 2px;
  text-decoration: none;
  font-size: 12px;
  color: var(--deep--grey--color);
  font-weight: 400;
  padding: 4px 20px;
  border: 2px solid var(--deep--grey--color);
}

.Header_login_in_page > span {
  margin-top: 2px;
}

.Header_login_in_page:hover {
  color: var(--green--color);
  border: 2px solid var(--green--color);
}

.Header_login_in > span {
  display: flex;
  align-items: center;
}

.user {
  margin-right: 30px;
  font-size: 25px;
}

.cart {
  font-size: 22px;
}

.Header_icon {
  color: var(--deep--grey--color);
}

.Header_icon:hover {
  color: var(--green--color);
}

.Header_cart_length {
  position: absolute;
  top: 38px;
  right: 30px;
  background: ghostwhite;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  line-height: 20px;
  align-items: center;
  color: var(--deep--grey--color);
  margin-left: 5px;
  font-size: 12px;
}
